/* global */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0px;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

button {
    background-color: #BDAA96;
    color: white;
    padding: 10px 20px;
    margin: 10px 5px 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #BDAA96;
}

.container {
    width: 50%; 
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: white;
    border-radius: 8px;
}

/* Table styles */
table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left !important;
    border-bottom: 2px solid #333 !important;
}

th {
    background-color: #2980b9;
    color: white;
    text-align: left;
    font-size: 18px;
}

td {
    background-color: #ffffff;
    color: #333;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #ecf0f1;
}

select {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #BDAA96;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

select:hover {
    border-color: #2980b9;
}

.navbar-brand {
      margin-left: 15px;
}

.nav-link {
    margin-left: 10px;
    margin-right: 10px;
    color: #000 !important;
}

.container {
    box-shadow: none;
}